{
  "presets": [
    ["env",  {
      "targets": {
        "chrome": 58
      },
      "modules": false
    }]
  ],
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "h",
      "useBuiltIns": true
    }]
  ]
}
